*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}
 
.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Changed from 100svh to 100vh */
}
 
.contents {
    flex: 1; /* Changed from height: 100% */
}

.headerMain {
   display: flex;
   align-items: center;
   padding: 1rem 2rem;
   justify-content: space-between;
   background-color: rgb(255, 171, 171);
}

.left{
   align-items:center;
   display: flex;
   gap: 0.5rem;
}

.logo {
   max-width: 6rem;
}

.company-name {
   font-size: 2rem;
   color: rgb(0, 0, 0);
}

.right{
   display: flex;
   gap: 0.5rem;
}

.btn {
   color: rgb(0, 0, 0);
   background-color: rgb(255, 75, 75);
   font-size:  1.3rem;
   padding: 0.5rem 1rem;
   border-radius: 5px;
   box-shadow: 2.6px 5.1px 5.1px hsl(0deg 0% 0% / 0.42);
   transition-duration: 300ms;
}

.btn:hover {
   transform: translateX(2.6px) translateY(5.1px);
   box-shadow: 0 0 0 hsl(0deg 0% 0% / 0.42);
}

.header1 {
   position:relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 3rem 19rem;
   background-color: #7c68b1;
}

.header1 .company-name {
   text-align: center;
   font-size: 1rem;
   color:black;
}

.header1 .logo {
   max-width: 6rem;
}

.left-btn, .right-btn {
   width: 113px;
   text-align: center;
   color:#725CAD;
   background-color: white;
   padding: 8px 10px;
   border-style: solid;
   border-color: #725CAD;
   border-radius: 100px;
   box-shadow: inset 0 0 0 0 #8CCDEB;
   transition: ease-out 0.3s;
   font-size:  14px;
}

.left-btn:hover, .right-btn:hover {
   transform: translateX(2.6px) translateY(5.1px);
   box-shadow: inset 113px 0 0 0 black;
   cursor: pointer;
   color:#8CCDEB;
}

.center-box {
   position: absolute;
   left:50%;
   transform: translateX(-50%);
   text-align: center;
}

.header2{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 15px 30px;
   background-color: rgb(214, 208, 208);
   box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

.header2 .logo {
   max-width: 13rem;
}

.header2 .center-box{
   display: flex;
   gap: 30px;
}

.header2 .center-box a {
   color:black;
   font-weight: 500;
   font-size: 16px;
}

.header2 .center-box a:hover {
   color: white;
}

.header2 .rightbox a {
   width: 113px;
   text-align: center;
   color:#000000;
   background-color: white;
   padding: 8px 10px;
   border-style: solid;
   border-color: #000000;
   box-shadow: inset 0 0 0 0 #ffffff;
   transition: ease-out 0.3s;
   font-size: 14px;
}

.header2 .rightbox a:hover {
   transform: translateX(2.6px) translateY(5.1px);
   box-shadow: inset 113px 0 0 0 rgb(0, 0, 0);
   cursor: pointer;
   color:#ffffff;
}

.header3 {
   position:relative;
   background-image: url(https://i.pinimg.com/1200x/85/75/8c/85758c4cf87285f8e02c5ce78ab4fbd9.jpg);
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   height: 180px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 3rem 19rem;
   background-color: #7c68b1;
}

.header3 .logo {
   max-width: 13rem;
}

.image-btn {
   border: none;
   background: none;
   padding: 0;
   cursor: pointer;
}

.image-btn img {
   height: 100px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   border-radius: 8px;
}

.image-btn:hover img {
   transform: scale(1.05);
   box-shadow: 0 6px 12px grey;
}


.header4 {
   position:relative;
   background-image: url(https://i.pinimg.com/1200x/8c/ce/22/8cce2257de655c76438b827c63049fd2.jpg);
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   height: 180px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 3rem 19rem;
   background-color: #7c68b1;
}

.left-btn2, .right-btn2 {
  background: linear-gradient(to right, white, #2ebde5);
  color: #0d404e;
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
  transition: box-shadow 0.3s ease;
}

.left-btn2:hover, .right-btn2:hover {
  box-shadow: 0 0 20px #2ebde5, 0 0 40px white;
  color: #1a8baa;
}



.hero {
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.sitefooter {
   background-color:rgb(255, 171, 171);
   color: rgb(222, 65, 65);
   text-align: center;
   padding: 20px;
}

.sitefooter1 {
   background-color: #695996;
   color: white;
   text-align: center;
   padding: 20px; 
}

.sitefooter2 {
   background-color:  rgb(187, 181, 181);
   color: black;
   text-align: center;
   padding: 20px; 
}

.sitefooter3 {
    background-image: url(https://i.pinimg.com/1200x/85/75/8c/85758c4cf87285f8e02c5ce78ab4fbd9.jpg);
    background-position: center;
   color: palevioletred;
   text-align: center;
   padding: 20px; 
}

.sitefooter4 {
   background-image: url(https://i.pinimg.com/1200x/8c/ce/22/8cce2257de655c76438b827c63049fd2.jpg);
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   color: white;
   text-align: center;
   padding: 20px; 
}
.sitefooter5 {
  background-color: black;
   color: white;
   text-align: center;
   padding: 20px; 
}